
.cat{
    width: 190px;
    height: 50px;
    margin: 20px;
    border-radius: 30px;
    background-color: #253342;
    color: white;
    font-size: 120%;
    box-shadow: 0 5px #999;
    border: none;
    cursor: pointer;
    transition-duration: 0.08s;
    }.cat:active{
    box-shadow: 0px 0px #666;
    transform: translateY(5px)
    }
    input[type="text"],input[type="email"], textarea {
        background-color: white;
        width: 10%;
        height: 35px;
        border: 1px solid #999;
        border-radius: 15px;
        margin: 5px 0;
        direction: rtl;
        padding: 0 20px;
        font-size: 15px;
        font-weight: bold;
    }
    #wsfoter{
        clear: both;
        text-align: center;
        background-color: #253342;
        color: white;
        padding: 30px 0;
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: greenyellow;
    }
    h1{
        font-size: 30px;
    }
    #logo{
        float: right;
        line-height: 60px;
        padding-left: 20px;
        font-size: 30px;
        font-weight: bold;
        
    }
    #logo img{
	width: 50%;
	margin: 10px;
}
#value3{
    float: left;
}
#resut{
    float: left;
}
#SA{
    float: left;
}
#result{
    clear: both;
    text-align: center;
    background-color: #253342;
    color: white;
    padding: 2px 0;
}
#resute{
    clear: both;
    text-align: center;
    background-color: #253342;
    color: white;
    padding: 2px 0;
}
#resut7{
    clear: both;
    text-align: center;
    background-color: #253342;
    color: white;
    padding: 2px 0;
}
